<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-on:click="menuBar" id="menu-button">
            <i v-if="menu === true" class="fas fa-times"></i>
            <i v-else-if="menu === false" class="fas fa-bars"></i>
        </div>
        <div v-show="menu" id="menu">
            <form action="">
                <div class="input-wrap">
                    <label for="">Name</label>
                    <input type="text"  id="name" v-model="name">
                </div>
                <div class="input-wrap">
                    <label for="">Desk</label>
                    <select name="" id="desk">
                        <option value="RU">RU</option>
                        <option value="EN">EN</option>
                    </select>
                </div>
                <div class="input-wrap">
                    <label for="">Country</label>
                    <select name="" id="country">
                        <!-- <option :value="country"></option> -->
                        <option value="Switzerland">Switzerland</option>
                        <option value="Ukraine">Ukraine</option>
                    </select>
                </div>
                <div class="input-wrap">
                    <label for="">Plan</label>
                        <select name="" id="plan">
                            <option value="3">3</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                </div>
                <div class="input-wrap">
                    <label for="">Team</label>
                    <select name="" id="team">
                        <option value="team1">Team1</option>
                        <option value="team2">Team2</option>
                        <option value="team3">Team3</option>
                    </select>
                </div>
                <div class="input-wrap">
                    <button @click="addUser" type="button">SUBMIT</button>
                </div>
            </form>
        </div>
        <div class="wrap">

            <div class="top-menu">
                <p>Total Day: {{ totalDayF() }}</p>
                <p>Total Mounth: {{ totalMounthF() }}</p>
                <p>Total Sum:{{ '$' + totalSumFun() }}</p>
            </div>
            <h2 class="fas fa-clipboard-list">
                <span style="font-family: 'Roboto'"> DASHBOARD</span>{{ time }}
            </h2>
            <table class="users" cellspacing="0">
                <tbody>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Desk</td>
                        <td>Country</td>
                        <td>Target</td>
                        <td>Total Day</td>
                        <td>Total Mounth</td>
                        <td>Total Sum</td>
                        <td>Team</td>
                    </tr>
                    <tr v-for="(item, key ) in array">
                        <td>{{ (key + 1) + '.' }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.desk }}</td>
                        <td>{{ item.country }}</td>
                        <td>{{ item.target }}</td>
                        <td>{{ item.totalDay }}</td>
                        <td>{{ item.totalMounth }}</td>
                        <td>{{ ' $' + item.totalSum }}</td>
                        <td>{{ item.team }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="team" cellspacing="0">
                <tr>
                    <td>
                        <p>Team 1</p>
                        <div class="avatar">
                            <img src="avatar.png" alt="">
                        </div>
                        <p>{{ 'Total : ' +totalSumF('team1') }}</p>
                        <p><i class="fas fa-award" style="color:gold;font-size: 22px"></i></p>
                    </td>
                    <td>
                        <p>Team 2</p>
                        <div class="avatar">
                            <img src="avatar.png" alt="">
                        </div>
                        <p>{{ 'Total : ' +totalSumF('team2') }}</p>
                        <p><i class="fas fa-award" style="color:silver;font-size: 22px"></i></p>
                    </td>
                    <td>
                        <p>Team 3</p>
                        <div class="avatar">
                            <img src="avatar.png" alt="">
                        </div>
                        <p>{{ 'Total : ' + totalSumF('team3') }}</p>
                        <p><i class="fas fa-award" style="color:#d26400;font-size: 22px"></i></p>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
    </html>